.footerContainer {
    width: 100%;
    margin: 3% 0 3% 0;
  }
  
  .footerTitle {
    color: black;
    font-weight: bold;
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    text-align: center;
    display: inline;
  }
  
  .footerText {
    color: black;
    font-family: 'Jura', sans-serif;
    font-size: 100%;
    text-align: center;
  }
  
  .footerIconContainer {
    margin: auto;
    text-align: center;
  }
  .tabelC1 {
    width: 33.333%;
  }