.footerContainer {
    width: 100%;
    margin: 3% 0 3% 0;
  }
  
  .footerTitle {
    color: black;
    font-weight: bold;
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    text-align: center;
    display: inline;
  }
  
  .footerText {
    color: black;
    font-family: 'Jura', sans-serif;
    font-size: 100%;
    text-align: center;
  }
  
  .footerIconContainer {
    margin: auto;
    text-align: center;
  }

  

  @media screen and (max-width: 800px) {
    .footerTitle {
      color: black;
      font-weight: bold;
      font-family: 'Junge', serif;
      font-size: 60%;
      text-align: center;
      display: inline;
    }
    .footerText {
      color: black;
      font-family: 'Junge', serif;
      font-size: 40%;
      text-align: center;
    }
    .footerIconContainer {
      margin: auto;
      text-align: center;
    }
    .footerContainer {
      width: 100%;
      margin: 3% 0 0 0;
    }

  .tabelC1 {
    width: 33.333%;


  }}



