.backgroundImg {
  position:relative;
  z-index: 3;
}


.headerWebsiteName {
    
    background-position-x: 50%;
    background-position-y: 72%;
    margin: auto;
    text-align: center;
    color: black;
    font-weight: 700;
    display: inline;;
    font-family: 'Junge', serif;
    padding-top: 1%;
    padding-bottom: 20%;
    padding-right: 80%;
    font-size: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .homeNavBar {
      height: 26px;
      z-index: 1;
    }
    .homeButton {
      display: inline;
    }
    .NavbarName {
      margin: auto;
      width: 950px;
      color: #3E2B1C;
      font-weight: 700;
      font-family: "Playfair Display", serif;
      font-size: 11px;
      padding: 6px 0 2px 0;
      height: 26px;
    }
    .headerWebsiteName {
      background: url("../images/WebsiteLogo.png") no-repeat;
      background-position-x: 50%;
      background-position-y: 72%;
      margin: auto;
      text-align: center;
      color: #3E2B1C;
      font-weight: 700;
      display: block;
      font-family: "Playfair Display", serif;
      padding-top: 58px;
      padding-bottom: 30px;
      font-size: 24px;
    }
    .homeButton11 {
      display: inline;
    }
  }
  
  .homeButton {
    width: 190px;
  }
  
  .headerButtons {
    padding: 0 0 0 0;
  }
  .homeNavBar {
    background: url("../images/background_church.jpg") no-repeat;
    height: 56px;
  }
  
  
  .headerDiv {
  
  }
  .navbarCol {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  
  .NavbarName {
    margin: auto;
    width: 190px;
    color: #3E2B1C;
    font-weight: 700;
    font-family: 'Junge', serif;
    font-size: 22px;
    padding: 12px 0 5px 0;
    height: 56px;
  }
  