
.headerWebsiteName {
    
    background-position-x: 50%;
    background-position-y: 72%;
    margin: auto;
    text-align: center;
    color: #3E2B1C;
    font-weight: 700;
    display: block;
    font-family: 'Junge', serif;
    padding-top: 116px;
    padding-bottom: 60px;
    font-size: 48px;
  }
  
  @media screen and (max-width: 800px) {
    .homeNavBar {
      height: 26px;
    }
    .homeButton {
      width: 95px;
    }
    .NavbarName {
      margin: auto;
      width: 950px;
      color: #3E2B1C;
      font-weight: 700;
      font-family: "Playfair Display", serif;
      font-size: 11px;
      padding: 6px 0 2px 0;
      height: 26px;
    }
    .headerWebsiteName {
      background: url("../images/WebsiteLogo.png") no-repeat;
      background-position-x: 50%;
      background-position-y: 72%;
      margin: auto;
      text-align: center;
      color: #3E2B1C;
      font-weight: 700;
      display: block;
      font-family: "Playfair Display", serif;
      padding-top: 58px;
      padding-bottom: 30px;
      font-size: 24px;
    }
  }
  
  .homeButton {
    width: 190px;
  }
  
  .headerButtons {
    padding: 0 0 0 0;
  }
  .homeNavBar {
    background: url("../images/background_church.jpg") no-repeat;
    height: 56px;
  }
  
  
  .headerDiv {
  
  }
  .navbarCol {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  
  .NavbarName {
    margin: auto;
    width: 190px;
    color: #3E2B1C;
    font-weight: 700;
    font-family: 'Junge', serif;
    font-size: 22px;
    padding: 12px 0 5px 0;
    height: 56px;
  }
  