
@media screen and (min-width: 801px) {
  .homeButtons {
    color: black;
    font-weight: 700;
    display: inline;;
    font-family: 'Junge', serif;
    padding-right: 15%;  
    vertical-align: middle;
    font-size: 100%;
    width: 20%;
    border-radius: 0;
    border: none;
    background-color: white;
  }

  .homeNavBar {
    height: auto;
  }

  .navbarCol {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
}
@media screen and (max-width: 800px) {
  .homeButtons {
    margin: auto;
    width: 80px;
    height: 26px;
    font-family: 'Junge', serif;
    border: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  .homeNavBar {
    height: 56px;
  }

  .navbarCol {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
}
