
@media screen and (min-width: 801px) {
  .homeButtons {
    margin: auto;
    max-width: 950px;
    width: 190px;
    height: 56px;
    font-family: "Playfair Display";
    border: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: #f1eade;
  }

  .homeNavBar {
    background-color: #f1eade;
    height: 56px;
  }

  .navbarCol {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
}
@media screen and (max-width: 800px) {
  .homeButtons {
    margin: auto;
    width: 80px;
    height: 26px;
    font-family: "Playfair Display";
    border: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: #f1eade;
  }

  .homeNavBar {
    background-color: #f1eade;
    height: 56px;
  }

  .navbarCol {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
}
