.homeChurchName {
    color: black;
    font-weight: 700;
    display: block;
    font-family: 'Junge', serif;
    text-align: center;
    font-size: 25px;
    width: auto;
    padding: 25% 40% 25% 40%;
    background-image: url("../images/background_church.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center center;
    margin: 0;
}
