

.openMoreButton {
    margin: auto;
    max-width: 950px;
    width: auto;
    height: auto;
    font-family: 'Jura', sans-serif;
    border: 1px solid black;
    font-weight: 600;
    text-decoration: none;
    margin: 0 1% 0 2%;
    padding: 1% 1% 1% 1.5%;
    border-radius: 5px;
}

.infoIcon {
    background-color: white;
    display: inline;
    border-radius: 50%;
    width: 6%;
    height: 6%;
}


.entryTitle {
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    text-decoration: none;
    margin: 5% 0 0 5%;
}

.entryPlaceholder {
    width: 50%;
    height: 40px;
    margin: 0 0 0 5%;
}

.entryPlaceholder1 {
    width: 50%;
    height: 40px;
    margin: 5% 0 0 5%;
}

.entryDiv {
background-color: #B7E1E1;
height: 1000px;
background-size: cover;    
background-position: center center;
margin: 0;
padding: 5% 0 0 0;
}

.newEntryDiv {
    background: url("../images/background_church.jpg") no-repeat;
    height: 1000px;
    background-size: cover;    
    background-position: center center;
    margin: 0;
    padding: 0;
}