.ReportButton {
    margin: auto;
    max-width: 950px;
    width: 190px;
    height: 56px;
    font-family: 'Jura', sans-serif;
    border: 1px solid black;
    font-weight: 600;
    text-decoration: none;
    margin: 5% 0 5% 5%;
    padding: 0;
    border-radius: 5px;

}

.TableTypes {
    font-family: 'Jura', sans-serif;
    padding: 0 5% 0 5%;
    width: 10%;
    border: 1px solid black;
    background-color: white;

}
.reportTable {
    display: block;
    margin: auto;
    width: 90%;
    padding-bottom: 30%;
}


.reportDiv {
    background-image: url("../images/background_church.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.reportTableHeader {
    font-family: 'Jura', sans-serif;
    padding: 1% 5% 1% 5%;
    width: 10%;
}

.reportTableData {
    font-family: 'Jura', sans-serif;
    padding: 0 5% 1% 7%;
    width: 10%;
}