.signupPage {
    background-image: url("../images/background_church.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.signUpTitle {
    color: black;
    font-weight: 700;
    display: block;
    font-family: 'Jura', serif;
    text-align: center;
    font-size: 25px;
    width: auto;
    padding-top: 30px;
}

.signUpPlaceholder {
    color: black;
    font-weight: 700;
    display: block;;
    font-family: 'Jura', serif;
    vertical-align: middle;
    font-size: 100%;
    width: 20%;
    height: 50px;
    margin: 0 3% 1% 40%;
    border-radius: 5px;
}

.signUpLabel {
    font-family: 'Jura', serif;
    margin: 3% 3% 0 38%;
}

.signUpLabel1 {
    font-family: 'Jura', serif;
    margin: 10% 3% 0 41%;
}

.signUpButton {
    width: 10vw;
    height: 5vh;
    margin: 3vh 0 10% 41.5vw;
    font-family: 'Jura', serif;
    background-color: white;
}